# Importo the libraries

In [16]:
#Se importan la librerias a utilizar
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier

# Import the data

In [17]:
# save filepath to variable for easier access
titanic_test_path = 'data/test.csv'
titanic_train_path = 'data/train.csv'

# read the data and store data in DataFrame
df_test = pd.read_csv(titanic_test_path)
df_train = pd.read_csv(titanic_train_path)

#  A first look to the data
- We want to predict who will survive and we have the data --> Supervised Algorithms
- Missing Values

In [18]:
df_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [19]:
df_test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

## Data Exploration

In [20]:
# Verify the amount of data in the dataset
print('Amount of data: ')
print("Train dataset: ", df_train.shape)
print("Test dataset: ", df_test.shape)

Amount of data:
Train dataset:  (891, 12)
Test dataset:  (418, 11)

- La columna extra es la si Sobrevivio o no

In [21]:
# Verify the type of data
print('\t\tType of data\n')

print("Train dataset")
df_train.info()

print("\nTest dataset")
df_test.info()

		Type of data

Train dataset
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

Test dataset
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

- We will want to change the object types to Numeric

In [22]:
#Verifico los datos faltantes de los dataset
print('Datos faltantes:')

print("\n\n\tTrain dataset\n")
print(pd.isnull(df_train).sum())

print("\n\n\tTest dataset:\n")
print(pd.isnull(df_test).sum())

Datos faltantes:


	Train dataset

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64


	Test dataset:

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

- We will have to make a decision about the missing data

In [23]:
#Verifico las estadísticas del dataset
print('Estadísticas del dataset:')

print("\n\n\tTrain dataset\n")
print(df_train.describe())
print("\n\n\tTest dataset:\n")
print(df_test.describe())

Estadísticas del dataset:


	Train dataset

       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200


	Test dataset:

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   418.000000  418.000000  332.000000  418.000000  418.000000  417.000000
mean   1100.500000    2.265550   30.272590    0.447368    0.392344   35.627188
std     120.810458    0.841838   14.181209    0.896760    0.981429   55.907576
min     892.000000    1.000000    0.170000    0.000000    0.000000    0.000000
25%     996.250000    1.000000   21.000000    0.000000    0.000000    7.895800
50%    1100.500000    3.000000   27.000000    0.000000    0.000000   14.454200
75%    1204.750000    3.000000   39.000000    1.000000    0.000000   31.500000
max    1309.000000    3.000000   76.000000    8.000000    9.000000  512.329200

# Preprocessing data

#### Change the data of sexes in numbers

In [24]:
df_train['Sex'].replace(['female','male'],[0,1],inplace=True)
df_test['Sex'].replace(['female','male'],[0,1],inplace=True)

#### Change the Embarked data in numbers

In [25]:
df_train['Embarked'].replace(['Q','S', 'C'],[0,1,2],inplace=True)
df_test ['Embarked'].replace(['Q','S', 'C'],[0,1,2],inplace=True)

## Missing Values

#### Replace the missing data in the Age with the mean of this column

In [26]:
age_train = round( df_train["Age"].mean() )
print("Age train: ", age_train)

age_test = round( df_test["Age"].mean() )
print("Age test: ", age_test)

fare_test = round( df_test["Fare"].mean() )
print("Fare test: ", fare_test)
df_test['Fare'] = df_test['Fare'].replace(np.nan, fare_test)

df_train['Age'] = df_train['Age'].replace(np.nan, age_train)
df_test['Age'] = df_test['Age'].replace(np.nan, age_test)
df_test['Fare'] = df_test['Fare'].replace(np.nan, fare_test)

Age train:  30
Age test:  30
Fare test:  36

#### Create several groups according to age bands

In [27]:
#bins: 0-8, 9-15, 16-18, 19-25, 26-40, 41-60, 61-100

bins = [0, 8, 15, 18, 25, 40, 60, 100]
names = ['1', '2', '3', '4', '5', '6', '7']

#Creo que estamos estarandizando
df_train['Age'] = pd.cut(df_train['Age'], bins, labels = names)
df_test['Age'] = pd.cut(df_test['Age'], bins, labels = names)

#### The "Cabin" column is removed as it has a lot of missing data

In [28]:
df_train.drop(['Cabin'], axis = 1, inplace=True)
df_test.drop (['Cabin'], axis = 1, inplace=True)

#### Eliminate the columns that I consider are not necessary for the analysis

In [29]:
df_train = df_train.drop(['PassengerId','Name','Ticket'], axis=1)
df_test = df_test.drop(['Name','Ticket'], axis=1)

In [30]:
#Verifico los datos faltantes de los dataset
print('Datos faltantes:')

print("\n\n\tTrain dataset\n")
print(pd.isnull(df_train).sum())

print("\n\n\tTest dataset:\n")
print(pd.isnull(df_test).sum())

Datos faltantes:


	Train dataset

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    2
dtype: int64


	Test dataset:

PassengerId    0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Fare           0
Embarked       0
dtype: int64

#### Rows with missing data are deleted

In [31]:
df_train.dropna(axis=0, how='any', inplace=True)

print(df_test)

df_test.dropna (axis=0, how='any', inplace=True)

print(df_test)

     PassengerId  Pclass  Sex Age  SibSp  Parch      Fare  Embarked
0            892       3    1   5      0      0    7.8292         0
1            893       3    0   6      1      0    7.0000         1
2            894       2    1   7      0      0    9.6875         0
3            895       3    1   5      0      0    8.6625         1
4            896       3    0   4      1      1   12.2875         1
..           ...     ...  ...  ..    ...    ...       ...       ...
413         1305       3    1   5      0      0    8.0500         1
414         1306       1    0   5      0      0  108.9000         2
415         1307       3    1   5      0      0    7.2500         1
416         1308       3    1   5      0      0    8.0500         1
417         1309       3    1   5      1      1   22.3583         2

[418 rows x 8 columns]
     PassengerId  Pclass  Sex Age  SibSp  Parch      Fare  Embarked
0            892       3    1   5      0      0    7.8292         0
1            893       3    0   6      1      0    7.0000         1
2            894       2    1   7      0      0    9.6875         0
3            895       3    1   5      0      0    8.6625         1
4            896       3    0   4      1      1   12.2875         1
..           ...     ...  ...  ..    ...    ...       ...       ...
413         1305       3    1   5      0      0    8.0500         1
414         1306       1    0   5      0      0  108.9000         2
415         1307       3    1   5      0      0    7.2500         1
416         1308       3    1   5      0      0    8.0500         1
417         1309       3    1   5      1      1   22.3583         2

[418 rows x 8 columns]

#### Print the data

In [32]:
#Verifico los datos faltantes de los dataset
print('Datos faltantes:')

print("\n\n\tTrain dataset\n")
print(pd.isnull(df_train).sum())

print("\n\n\tTest dataset:\n")
print(pd.isnull(df_test).sum())

Datos faltantes:


	Train dataset

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64


	Test dataset:

PassengerId    0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Fare           0
Embarked       0
dtype: int64

In [33]:
# Verify the amount of data in the dataset
print('Amount of data: ')
print("Train dataset: ", df_train.shape)
print("Test dataset: ", df_test.shape)

Amount of data:
Train dataset:  (889, 8)
Test dataset:  (418, 8)

In [34]:
print(df_test.head())

   PassengerId  Pclass  Sex Age  SibSp  Parch     Fare  Embarked
0          892       3    1   5      0      0   7.8292         0
1          893       3    0   6      1      0   7.0000         1
2          894       2    1   7      0      0   9.6875         0
3          895       3    1   5      0      0   8.6625         1
4          896       3    0   4      1      1  12.2875         1

In [35]:
print(df_train.head())

   Survived  Pclass  Sex Age  SibSp  Parch     Fare  Embarked
0         0       3    1   4      1      0   7.2500       1.0
1         1       1    0   5      1      0  71.2833       2.0
2         1       3    0   5      0      0   7.9250       1.0
3         1       1    0   5      1      0  53.1000       1.0
4         0       3    1   5      0      0   8.0500       1.0

## Aplicacion de algoritmos de Machine Learning

In [36]:
# Select columns corresponding to features, and preview the data
X = np.array(df_train.drop(['Survived'], axis=1))

# Target Prediction: y
y = np.array(df_train['Survived'])

#### Training and Validation Data

In [37]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

#### Define model: Logistic Regression

In [38]:

model_reg = LogisticRegression(max_iter= 200)

model_reg.fit(X_train, y_train)

Y_pred = model_reg.predict(X_test)

print('Precisión Regresión Logística:')
print(model_reg.score(X_train, y_train))

Precisión Regresión Logística:
0.8016877637130801

#### Define model: Support Vector Machines

In [39]:

##Support Vector Machines
svc = SVC()

svc.fit(X_train, y_train)

Y_pred = svc.predict(X_test)

print('Precisión Soporte de Vectores:')
print(svc.score(X_train, y_train))

Precisión Soporte de Vectores:
0.680731364275668

In [40]:
#### Define model: K neighbors

In [41]:

##K neighbors
knn = KNeighborsClassifier(n_neighbors = 3)
knn.fit(X_train, y_train)
Y_pred = knn.predict(X_test)
print('Precisión Vecinos más Cercanos:')
print(knn.score(X_train, y_train))

Precisión Vecinos más Cercanos:
0.8635724331926864

### Once we have our models, we proceed to make the respective prediction using the test data.

# Prediction using the different models

In [42]:
#Mostramos quien sobrevive o no con el ID
ids = df_test['PassengerId']

##Regresión logística

df_predict = df_test.drop('PassengerId', axis=1)

prediccion_logreg = logreg.predict(df_predict)

submission = pd.DataFrame({ 'PassengerId' : ids, 
                            'Survived': prediccion_logreg })

submission.to_csv('sub_logic_reg.csv', index =False)

NameError: name 'logreg' is not defined

In [ ]:
##Support Vector Machines
prediccion_svc = svc.predict(df_test.drop('PassengerId', axis=1))

out_svc = pd.DataFrame({ 'PassengerId' : ids, 
                         'Survived': prediccion_svc })

submission.to_csv('sub_svc.csv', index =False)

In [ ]:
##K neighbors
prediccion_knn = knn.predict(df_test.drop('PassengerId', axis=1))
out_knn = pd.DataFrame({ 'PassengerId' : ids, 
                        'Survived': prediccion_knn })

submission.to_csv('sub_k_neigh.csv', index =False)